@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EmployeeCrud.Models.Entities.AddEmployeeViewModel

<form method="post">
    <h1>Add Employee</h1>
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">DepartmentName</label>
        <input type="text" class="form-control" asp-for="DepartmentName" />
    </div>

    <div class="mt-3">
        <label class="form-label">Salary</label>
        <input type="text" class="form-control" asp-for="Salary" />
    </div>

   @*  <div class="mt-3">
        <input type="checkbox" class="form-check-input" id="Subscribed" asp-for="Subscribed" />
        <label class="form-check-label" for="Subscribed">Subscribed</label>
    </div> *@

    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

</form>
